<!-- To know more angular directives and how to test directives go to http://www.docs.angularjs.org/api/ -->
<!DOCTYPE html>
<!-- Directives = ng-app && ng-model etc. that teach HTML static pages new tricks -->
<html data-ng-app="sampleApp">
  <head>
    <title>
      AngularJS Sample App
    </title>
  </head>
<body>
  <div class="container" data-ng-controller="CustomerController">
    Name:
    <br />
    <!-- Data Binding Expression = name. As users type in to the box, name will bind to that "value"
         Data Binding Statement = {{ name }}
         {{ DBS | filter}}
     -->

    <input type="text" data-ng-model="name" />
    <br />
    <ul>
      <li data-ng-repeat="person in customers | filter:name | orderBy:'city'">
        {{ person.name | uppercase }} - {{ person.city }}
      </li>
    </ul>
  </div>

  <script src="script/angular.min.js"></script>
  <script>

    // One way is to pass in an anonymous function.
    // Creating a controller in a module .
    // 'sampleApp = Defining a module'

    var sampleApp = angular.module('sampleApp', []);

    // 'CustomerController' = Defining a controller

    // sampleApp.controller('CustomerController', function ($scope) {
    //   $scope.customers = [
    //     { name:'Nam Nguyen', city: 'Garden Grove' },
    //     { name:'Nam Yo', city: 'San Francisco' },
    //     { name:'Martin Khuat', city: 'Westminster' },
    //     { name:'Henry Do', city: 'Merced' }
    //   ];
    // });

    // Second way is to create an empty object literal for easier prototyping
    var controllers = {}
    controllers.CustomerController = function CustomerController($scope) {
      $scope.customers = [
        { name:'Nam Nguyen', city: 'Garden Grove' },
        { name:'Nam Yo', city: 'San Francisco' },
        { name:'Martin Khuat', city: 'Westminster' },
        { name:'Henry Do', city: 'Merced' }
      ];
    };

    sampleApp.controller(controllers);
  </script>
</body>
</html>